

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* shared styles */
.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: 800;
    color: white;   
    padding: 18px 36px;
    border-radius: 5px;
    border: none;
}

.dark-2 {
    color:#474747;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}

.section-description {
    font-size: 18px;
    color: #757575;
    text-align: center;
}

.section-bg {
     background-color: #FFF8F3;
}

/* body {
    background-color: #F3F3F3;
} */

/* main styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* header styles */

.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png') ;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}

/* Nav styles */
nav {
    display: flex;  
    align-items: center;  
    justify-content: space-between;
    margin: 0px 200px;
}

nav ul {
    display: flex;
    align-items: center;
    
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 20px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}



/* banner styles */

.banner {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 30px;
}

.banner-content {
    width: 584px;
}

.banner-greetings {
    font-weight: 600;
    font-size: 45px;
}

.banner-title {
    font-weight: 800;
    font-size: 85px;
}

.banner-description {
    font-size: 18px;
    color: #757575;
}

.banner-profile-pic {
    width: 584px;
}


/* about styles */

.about {
    text-align: center;
    border-radius: 10px;
    padding: 131px 157px;
    margin-top: 130px;
}

.about-items {
    display: flex;
    justify-content: space-around;
}
.item-description {
    font-weight: 600;
}


/* skills styles */

.skills {
    /* text-align: center; */
    margin-top: 100px;
    margin-bottom: 100px;
    /* margin-right: 115px;
    margin-left: 115px; */
}

.skills-container {
     display: flex;
     justify-content: space-around;
     gap: 25px;
}

.skill {
        /* background-color: #FFFFFF; */
        padding: 30px;
        box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        transition: all .2s ease-in-out;
}

.skill:hover {
    transform: scale(1.1);

}
.skill-desc {
    margin-right: 115px;
    margin-left: 115px;
    margin-bottom: 40px;
}

.skill-title {
    font-weight: 800;
    font-size: 20px;
    margin: 28px 0px;
}

/* Resume styles */

.resume {
    padding-bottom: 100px;
}

.resume-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 80px;
}

.column-title {
    font-weight: bold;
    font-size: 30px;
    color: #474747;
    margin-bottom: 0px;

}

.experience {
    margin-right: 47px;
    
}

.experience-title {
    font-weight: bold;
    font-size: 25px;
    color: #474747;
    margin-bottom: 0px;
    
}

.experience-subtitle {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-top: 5px;
    margin-bottom: 0px;
}

.experience-description {
    font-size: 16px;
    color: #757575;

}

.resume-container hr {
    color: #D1D1D1;
    margin-top: 30px;
}

.resume-download {
    text-align: center;
    font-size: 20;
    font-weight: bold;
    margin-top: 50px;
}

/* footer styles */

footer main {
    display: flex;
    justify-content: space-between;
    padding: 100px 230px;
    gap: 115px;
    text-align: left;
    
}

.footer-title {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 0px;
}

.footer-description {
    color: #474747;
    font-size: 16px;
    width: 562px;
    margin-bottom: 20px;
}

footer img {
    margin-right: 24px;
}

.form-input {
    border: none;
    border-radius: 5px;
    padding: 18px 30px;
    display: block;
    margin-bottom: 24px;
    margin-top: 24px;
    width: 100%;
}

 .form-input::placeholder {
    font-size: 16px ;
    color: #757575;
}

footer .btn-primary {
    font-size: 20px;
}